* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #eee2dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #ac3b61;
}

.App-link {
  color: rebeccapurple;
}

main {
  margin: 1.5rem auto;
}

.panel-wrapper {
  display: none;
}

.panel-wrapper.diff {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.panel-wrapper.diff .wordPanel {
  height: fit-content;
}

.panel {
  border: 1px solid #bab2b5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
  margin-bottom: 1.5rem;
  color: #123c69;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

.letter-button {
  padding: 2px;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin: 1px;
  background-color: whitesmoke;
  border: 1px solid #123c69;
  color: #ac3b61;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.letter-button:disabled {
  cursor: default;
  visibility: hidden;
}

.letter-button:active {
  background-color: #ac3b61;
  color: white;
}

.letter-button:hover {
  background-color: #333344;
  color: #eee2dc;
}

.letter-button.selected {
  background-color: #333344;
  color: #eee2dc;
}

.letter-button.correct {
  background-color: #ac3b61;
  color: #333344;
}

.wordPanel {
  display: flex;
  flex-direction: column;
  border: 1px solid #bab2b5;
  border-radius: 0.5rem;
  background-color: white;
  color: #ac3b61;
  list-style: none;
  text-align: right;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.wordPanel label {
  position: relative;
}

.panel-wrapper.diff ul {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  color: #ac3b61;
  list-style: none;
  text-align: right;
  margin: 0.5rem 1rem 0.5rem auto;
}

.wordPanel #addWord {
  width: auto;
  height: 20px;
  margin: auto 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid #ac3b61;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.wordPanel #addWord:focus {
  outline: none;
  border-bottom: 2px solid #ac3b61;
}

.wordPanel #addWord.gameStarted {
  display: none;
}

.wordPanel .addWordBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 20px;
  margin-right: 1rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ac3b61;
  color: #333344;
  transition: background-color 150ms ease;
}

.wordPanel .addWordBtn:hover{
  background-color: #ac3b6180;
}


.wordPanel .addWordBtn.gameStarted {
  display: none;
}

button#inicio {
  border: 1px solid #bab2b5;
  background-color: white;
  color: #333344;
  width: 125px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

button#inicio.gameStarted {
  background-color: #ac3b61;
  color: white;
  border: 1px solid black;
}

button#inicio:disabled {
  border: 1px solid grey;
  background-color: #dfdfdf;
  color: #333344;
  opacity: 0.7;
  cursor: default;
}

button#inicio:focus {
  outline: none;
  border: 1px solid #123c69;
}

input#nome {
  margin-right: 1rem;
  border-bottom: 1px solid #bab2b5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: white;
  padding: 4px;
  color: #123c69;
  font-weight: bold;
}

input#nome:focus {
  outline: none !important;
  border-bottom: 2px solid #123c69;
}

input#nome:disabled {
  opacity: 0.6;
}

input#nome::placeholder {
  opacity: 0.5;
  color: #123c69;
}

select#dificuldade {
  border: 1px solid #bab2b5;
  border-radius: 0.25rem;
  background-color: white;
  padding: 4px;
  color: #123c69;
  cursor: pointer;
}

select#dificuldade:focus {
  outline: none !important;
  border-bottom: 2px solid #123c69;
}

.timer {
  display: none;
}
.timer.diff {
  display: inline;
}
.timer.end span {
  color: #ac3b61;
}

.score {
  display: none;
}

.score.diff {
  display: inline;
}

.timerscore-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0.75rem 1rem 0 1rem;
  justify-content: space-evenly;
}
.footer {
  border: 1px solid #bab2b5;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 8px;
  /*display: flex; uncomment this to show original footer*/
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #bab2b5;
}

.popup-container {
  background-color: #bab2b575;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.popup-container.show {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #bab2b5;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  height: 300px;
  text-align: center;
}

.popup h1 {
  margin: 0;
}

.popup p {
  opacity: 0.7;
}

.popup-container .popup button {
  border: 1px solid #333344;
  background-color: #b64a6e;
  color: #333344;
  width: 125px;
  height: 50px;
  margin: auto auto 0 auto;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
